* {
    margin: 4px;
}
.about-me{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 25px;
}
.Resume{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    margin-bottom: 45px;
}
.Resume:hover {
    background-color: aqua;
    text-decoration: dotted;
}
.my-name{
    font-size: 24;
    color: blue;
}
.little-bit{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24;
    color: blue;
}
.help-me{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    margin: 24px;
}
.about-company{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16;
    flex-direction: column;
}
.about-my-career{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mee{
    color: red;
}
.meee{
    margin: top 24px;
}
.stats{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.statss{
    color: red;
}
.ifu{
    display: flex;
    color: red;
    align-items: center;
    justify-content: center;
}
.table2 {
    border-collapse: collapse;
}
.table2 th, .table2 td{
    text-align: center;
    border: 2px solid;
}   
.table1{
    border-collapse: collapse;
}
.table-text{
    text-align: center;
    display: block;
    border: 2px solid;
    width: 200px;
    padding: 5px;
    margin: -5px;
}
.ssylki{
    display: flex;
    align-items: center;
    justify-content: center;
}
.li-link:active{
    text-justify: center;
    color: black;
}
.input[type="checkbox"] {
    appearance: none;
    background: lightgray;
    height: 25px;
    width: 25px;
}
.input[type="checkbox"]::after {
    content: '';
    position: relative;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(50deg);
    display: none;
}
.input[type="checkbox"]:checked {
background: brown;
}